<table class="table table-sm" id="quiz_results" data-quiz-id="<%= quiz.id %>">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th></th>
      <th scope="col">Joueur</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <% games.each_with_index do |game, index| %>
      <tr class="<%= 'leader' if (0...20).to_a.include?(index) %>" data-player-id="<%= game.player.id %>">
        <th scope="row" class="text-white"><%= index + 1 %></th>
        <td><i class="fas fa-trophy"></i></td>
        <td><%= game.player.username.capitalize %></td>
        <td><%= game.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var current_player_id = document.getElementById('results-page').dataset.currentPlayerId;
  var players = document.querySelectorAll('#quiz_results tbody tr');
  players.forEach(function(player) {
    if (current_player_id === player.dataset.playerId) {
      player.classList.add('me');
    }
  })
</script>
