<div class="container mt-5">
  <div class="row">
    <div class="col-6 mb-2">
      <h1>Quizzes</h1>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to "Nouveau quiz", "#", class: "btn btn-outline-primary btn-cinepursuit" %>
    </div>
  </div>
  <div class="row dashboard">
    <div class="col-12">
      <table class="table table-dashboard-index">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Numéro de salle</th>
            <th scope="col">Récompense</th>
            <th scope="col">Participants</th>
            <th scope="col">Date de création</th>
          </tr>
        </thead>
        <tbody>
          <% @quizzes.each do |quiz| %>
            <tr>
              <td><%= link_to quiz.name, quiz_path(quiz) %></td>
              <td><%= link_to 'Salle '+quiz.room, quiz_path(quiz) %></td>
              <td><%= link_to quiz.reward, quiz_path(quiz) %></td>
              <td><%= link_to quiz.games.count, quiz_path(quiz) %></td>
              <td>
                <%= link_to quiz.created_at.strftime("%m/%d/%Y"), quiz_path(quiz) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
