<div class="container mt-5 dashboard-show">
  <div class="row mb-2">
    <div class="col-6">
      <h1>Quiz <%= @quiz.name %></h1>
    </div>
    <div class="col-6 d-flex justify-content-around align-items-center">
      <p class="mb-2">
        <i class="fas fa-film"></i>
        Salle <%= @quiz.room %>
      </p>
      <p class="mb-2">
        <i class="far fa-user"></i>
        <%= pluralize(@quiz.games.count, 'participant', 'participants') %>
      </p>
      <p class="mb-2">
        <i class="fas fa-couch"></i>
        Satisfaction: <%= @quiz.good_confort_percentage %>%
      </p>
    </div>
  </div>
  <div class="row dashboard">
    <div class="col-12">
      <table class="table table-responsive-sm table-striped table-dashboard-show">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Localisation</th>
            <th scope="col">Satisfaction</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <% @quiz.players.each do |player| %>
              <tr>
                <td><%= player.email %></td>
                <td class="font-weight-light">
                  <%= player.last_name || "Non renseigné" %>
                </td>
                <td class="font-weight-light">
                  <%= player.first_name || "Non renseigné" %>
                </td>
                <td class="font-weight-light">
                  <%= player.location || "N/A" %>
                </td>
                <td>
                  <%= display_player_confort(player.games.find_by(quiz: @quiz)) == 'Oui' ? "<i class='fas fa-check'></i>".html_safe : "<i class='fas fa-times'></i>".html_safe %>
                </td>
                <td class="font-weight-bold">
                  <%= player.games.find_by(quiz: @quiz).score %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to quizzes_path do %>
        <!-- <i class="far fa-arrow-alt-circle-left"></i> -->
        <i class="fas fa-backward"></i>
        Retour aux quizzes
      <% end %>
    </div>
  </div>
</div>

