<div
  class="container mobile-container d-flex flex-column justify-content-center"
  data-controller="answers"
>
  <% if @question.picture.present? %>
    <div class="ml-auto mr-auto mb-4 quiz-img" style="background-image: url('<%= image_path @question.picture %>')"></div>
  <% end %>
  <h5 class="text-center text-light mb-4">
    <%= @question.content %>
  </h5>
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
      <% @question.answers.each do |answer| %>
        <%= simple_form_for([:players, @game, @game_answer], html: { id: "answer_form_#{answer.id}" }) do |f| %>
          <%= f.input :answer_id, as: :hidden, input_html: { value: answer.id } %>
          <%= f.input :start_at, as: :hidden, input_html: { value: Time.zone.now } %>
          <%= f.submit answer.content, class: "btn btn-light btn-lg btn-block my-3 #{'btn-answers' unless answer.question.confort_related?}", data: { target: "answers.button", action:"click->answers#handleClick touchstart->answers#handleClick", correct: answer.correct?, form_id: "answer_form_#{answer.id}" } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/players_counter', quiz: Game.find(params[:id]).quiz %>
