<div class="background-landing">
  <div class="navbar mb-5">
    <div class="pt-3 pl-1">
      <%= link_to root_path, data: { turbolinks: false } do %>
        <%= image_tag 'logo.png', class: 'logo' %>
      <% end %>
    </div>
    <div class="login pr-3">
      <%= link_to 'Login', new_user_session_path, class: 'text-light' %>
    </div>
  </div>
  <div class="container text-center text-white">
    <div class="d-flex flex-column align-items-center">
      <!-- <div class="col-6"> -->
        <%#= image_tag 'logo.png', height: 256, width: 256, class: 'mt-5 mb-4' %>
        <h1 class="font-weight-bold mb-3">
          CinePursuit
        </h1>
        <h4 class="mb-5 text-light" style="font-weight: 100;">Interagissez avec vos spectateurs, <strong><span id="banner-typed-text"></span></strong></h4>
      <!-- </div> -->
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-10 col-sm-9 col-md-8 col-lg-5">
        <%= link_to 'QR code', quiz_qr_path(Quiz.find_by(playable: true)), class: 'btn btn-primary btn-lg btn-block mb-4' %>

        <%= link_to 'Commencer la partie', quiz_qr_path(Quiz.find_by(playable: true)), class: 'btn btn-primary btn-lg btn-light btn-block mb-4' %>

        <h6 class="pb-3 mt-5 text-light">
          Vous êtes interessés ?<br>Laissez-nous vous tenir au courant.
        </h6>

        <%= simple_form_for(Lead.new) do |f| %>
          <%= f.input :email, require: true,
                              input_html: {
                                class: 'form-control-lg'
                                },
                              label: false,
                              placeholder: "Email" %>
          <%= f.submit "Envoyer", class: "btn btn-light btn-lg btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
